.car {
  border: 1px solid black;
  width: 400px;
  margin: 20px 0 0 0;
  background-color: aqua;
}

.input {
}

.input.green {
  background-color: green;
}

.input.red {
  background-color: brown;
}
